<div class="foter">
    <div class="barrariba">
        <h2 class="conocenos">Conocenos</h2>
    </div>
    <div class="columnas">
        <div class="colum1">
            <div class="trabaja"><h6>ACERCA NUESTRA</h6></div>
            <div class="trabaja">Trabaja con nosotros</div>
            <div class="trabaja">Sobre Nosotros</div>
            <div class="trabaja">Sostenibilidad</div>
            <div class="trabaja">Zapas Science</div>
        </div>

        <div class="colum2">
            <div class="trabaja"><h6>GANA DINERO</h6></div>
            <div class="trabaja">Vende con nosotros</div>
            <div class="trabaja">Desarrolla con Nosotros</div>
            <div class="trabaja">Nuestra Logística</div>
            <div class="trabaja">Zapas Pay</div>
            <div class="trabaja">Vende para Nosotros</div>
            <div class="trabaja">TEXTO DE PRUEBA</div>
        </div>

        <div class="colum3">
            <div class="trabaja"><h6>¿NECESITAS AYUDA?</h6></div>
            <div class="trabaja">Zapas y COVID-19</div>
            <div class="trabaja">Localiza o Gestiona</div>
            <div class="trabaja">Zapas Prime</div>
            <div class="trabaja">Reciclaje</div>
            <div class="trabaja">App Zapas</div>
            <div class="trabaja">Atención al Cliente</div>
            <div class="trabaja">IVA sobre las zapas</div>
            <div class="trabaja">Tarjetas Regalo</div>
        </div>
    </div>
</div>
